/* Color Theme Swatches in Hex */
.Wildernis-1-hex { color: #D9D7D7; }
.Wildernis-2-hex { color: #010D00; }
.Wildernis-3-hex { color: #BFAB49; }
.Wildernis-4-hex { color: #8C7B6C; }
.Wildernis-5-hex { color: #BFADA3; }

/* Color Theme Swatches in RGBA */
.Wildernis-1-rgba { color: rgba(216, 214, 215, 1); }
.Wildernis-2-rgba { color: rgba(0, 12, 0, 1); }
.Wildernis-3-rgba { color: rgba(191, 171, 72, 1); }
.Wildernis-4-rgba { color: rgba(140, 123, 107, 1); }
.Wildernis-5-rgba { color: rgba(191, 173, 162, 1); }

/* Color Theme Swatches in HSLA */
.Wildernis-1-hsla { color: hsla(343, 2, 84, 1); }
.Wildernis-2-hsla { color: hsla(118, 96, 2, 1); }
.Wildernis-3-hsla { color: hsla(50, 48, 51, 1); }
.Wildernis-4-hsla { color: hsla(28, 12, 48, 1); }
.Wildernis-5-hsla { color: hsla(22, 18, 69, 1); }

body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14pt;
    background-color: #D9D7D7;
}

.main {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
    "....... top     top     top"
    "sidebar content content content"
    "footer  footer  footer  footer";
}

header {
    grid-area: top;
    padding: 10px;
    background-color: #010D00;
    color: #BFAB49;
}

header a {
    color: #BFAB49;
    
}

.side {
    grid-area: sidebar;
    background-color: #8C7B6C;
    padding-left: 10px;
    padding-right: 20px;
}

.side a {
    color: #BFAB49;
}

.content {
    grid-area: content;
}

footer {
    grid-area: footer;
    text-align: center;
    background-color: #010D00;
    color: #BFAB49;
}

article {
    // max-width: 800px;
}

nav.sidenav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav.sidenav > li {
    margin-top: 10px;
}

h2 {
    background-color:  #BFAB49;
    padding-left: 10px; 
}

// img {
//     max-width: 100vw;
// }

section {
    padding: 20px;
}

article > section:nth-child(odd) {
    background: hsla(22, 18, 69, 1);
}

article > section:nth-child(even) {
    background: hsla(22, 18, 76, 1);
}

figure {
    background-color: white;
    padding: 10px, 10px, 10px, 0px;
    border: 1px solid black;
    text-align: center;
}

figure > img {
    text-align: center;
}

figure > figcaption {
    font-style: italic;
    background-color: #efefef;
    padding: 6px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    background-color: #010D00;
    color: #D9D7D7;
}

table td {
    padding: 10px;
}